.chart{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 1em;
    background-color: white;

    &::before{
        content: '';
        position: absolute;
        top: -1em;
        left: 0;
        height: 1em;
        width: 50%;
        background-color: white;
        border-radius: 0px 15px 0px 0px;

    }
    &::after{
        content: '';
        position: absolute;
        top: -1em;
        right: 0;
        height: 1em;
        width: 50%;
        background-color: white;
        border-radius: 15px 0px 0px 0px;
    }
}